{% extends "ocrapp/base.html" %}
{% load static %}
{% block extrahead %}
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'style/home.css' %}">
{% endblock %}
{% block body_block %}

   <div class = "bg-image img1"></div><br><br><br>
    {% if user.is_authenticated %}
    <div style="position:center;">
    <a href="{% url 'ocrapp:photo' %}"><button class="upload_id">Upload Your ID proof</button></a>
    </div>
    {% else%}
    <div style="position:center;">
    <a onclick="document.getElementById('id02').style.display='block'" href=# %}"><button class="upload_id">Login to Continue</button></a>
    </div>
    {%endif%}


{% endblock %}
