{% extends "ocrapp/base.html" %}
{% load static %}
{% block extrahead %}
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'style/index.css' %}">
{% endblock %}
{% block body_block %}
    <br><br><br><br><br><br><br><br>
    <div  class="">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ im_form.as_p }}
        <button type="submit" class="submit_card" name="image" value="upload" target="{% url 'ocrapp:aadhar' %}">Upload</button>
      </form>
    </div>
{% endblock %}
